.container {
	padding: 0;
}

@media (min-width: 768px) {
	.container {
		width: 100%;
	}
}

h1 {
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
	color: #fff;
	font-size: 5em;
	text-align: center;
	
}

/* Header */
.name, 
.profession {
	text-align: right;
	color: #fff;
	font-size: 1em;
}


.custom-header {
	background-color: #000;
	margin: 0;
}

/* Content */
.custom-banner-holder {
	margin: 0;
	border-bottom: 1em solid #000;
}

.custom-banner {
	height: 11em;
	background-image: url(../images/banner-pattern.jpg);
	padding: 0;
}

.project-holder {
	margin: 0;
}

.project-title {
		position: absolute;
		background: rgba(0, 0, 0, 0.4);
		line-height: 100%;
		color: #fff;
		padding-left: 10%;
}

.project-link {
	font-size: 12px;
}

p.caption {
	font-size: 0.9em;
}

[class*="col-"] {
	padding-top: 1.25em;
	padding-bottom: 1.25em;
}

.contact-holder {
	background-color: #DFCCC5;
	margin: 0;
	
}

.contact-holder div{
	padding: 0.25em;
}

.logo-link {
	float: left;
}	

.logo {
	display: block;
	width: 35%;
	min-width: 2.5em;
	max-width: 4em;
}

.modal-project-link {
	max-width: 2.5em;
}

.custom-modal-header {
	background-image: url(../images/banner-pattern.jpg);
	padding: 0;
	height: 2.5em;
}

.title-holder {
	background: rgba(0, 0, 0, 0.4);
	height: 100%;
	width: 100%;
	padding-left: 0.5em;
}
.custom-modal-title {
	height: 100%;
	color: #fff;
	padding-bottom: 1%;
	
}

.custom-modal-footer {
	background-image: url(../images/banner-pattern.jpg);
}

button.custom-close {
	color: #fff;
	opacity: 1;
	padding-right: 0.5em;
	padding-top: 0.4em;
}

/* Footer */
footer {
	padding-right: 1em;
	font-size: 0.9em;
	text-align: right;
}