/* Total width and height of element includes padding and border */
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	
	/*outline: 1px solid red !important;*/
}

/* Stop these elements spilling out of holder */
img, embed, object, video {
	max-width: 100%;
}

/* Touch targets have minimum 48px */
nav a, button {
	padding: 1.5em;
}

.container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background-color: #fff;
}
.box {
	width: 100%;

}

.header {
	display: flex;
	background-color: #000;
}


.logo {
	height: 100%;
	width: 25%;
	background-image: url('/images/silver-fern.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.title {
	height: 100%;
	width: 75%;
}

.title p {
	font-family: 'Chivo', sans-serif;
	font-weight: 400;
	color: #fff;
	text-align: right;
	margin-right: 0.5em;
	margin-bottom: 0em;
}

h1 {
	font-family: 'Chivo', sans-serif;
	font-weight: 900;
	color: #fff;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.projects-holder {
	display: flex;
	flex-wrap: wrap;
	min-height: 200px;
}
	
.project {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
}

.under-construction {
	background-image: url('/images/under-construction.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 90%;
	width: 50%;
	
	
}

.footer {
	height: 100px;
	background-color: #000;
}

.social-links {
	display: flex;
	width: 100%;
	height: 50%;
}

.icon-holder {
	min-width: 10%;
	min-height: 10%;
	background-repeat: no-repeat;
	margin: 0.25em;
}

#twitter-link {	
	background-image: url('/images/twitter.svg');
}

#google-link {	
	background-image: url('/images/google-plus.svg');
}

#facebook-link {	
	background-image: url('/images/facebook.svg');
}


/* small screen breakpoint styles */
@media only screen and (min-width : 300px) and (max-width : 650px) {

	.header {
		height: 50px;
	}
	
	h1 {
		font-size: 4em;	
	}
	
	.banner-image {
		background-image: url('/images/corrugated-rust-320_small.jpg');
		background-size: cover;
		height: 135px;
	}

	
	.title p {
		font-size: 0.65em;
	}
	
	.title p.profession {
		margin-top: 0.5em;
	}
	
}

/* medium screen breakpoint styles */
@media only screen and (min-width : 651px) and (max-width : 1024px) {

	.header {
		height:75px;
	}
	
	h1 {
		font-size: 5em;	
	}
	
	.banner-image {
		background-image: url('/images/corrugated-rust-700_large_1x.jpg');
		background-size: cover;
		height: 150px;
	}
	
	.title p {
		font-size: 0.75em;
	}
	
	.project {
		width: 50%;
	}
	
	
}

/* large screen breakpoint styles */
@media only screen and (min-width : 1025px) {

	.header {
		height:100px;
	}
	
	h1 {
		font-size: 6em;	
	}
	
	.banner-image {
		background-image: url('/images/corrugated-rust-1025_large_2x.jpg');
		background-size: cover;
		height: 175px;
	}
	
	.title p {
		font-size: 0.85em;
	}
	
	.project {
		width: 33.33%;
	}
	
	.projects-holder {
		width: 75%;
		margin: auto;
	}
}